[Unit]
Description=LS-30 in Docker container running as a service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=no
RestartSec=60s
Type=simple
NotifyAccess=all
ExecStart=-/usr/bin/systemdock -v -a start -n LS-30
ExecStop=/usr/bin/systemdock -v -a stop -n LS-30

[Install]
WantedBy=multi-user.target
